.App {
  text-align: center;
    background: #edf5e1;
    /* height: 50vh; */
    padding-bottom: 25px
}

.Appa {
  text-align: center;
    background: #edf5e1;
    height: 50vh;
    padding-bottom: 15px
}

.AppBody{
  background: #edf5e1;

}

.App-logo {
  animation: App-logo-spin infinite 16s linear;
  height: 13vmin;
}

.App-header b{
  /* background-image: linear-gradient(to top right, #5cdb95,#7abd61); */
  /* background-color:#5cdb95; */
  display: flex;
  flex-direction: column;
  min-height: 15vh;
  flex-direction: column;
  font-size: calc(2.3em + 1vmin);
  color: #05386b;
}

.App-header img{
  /* background-color:#5cdb95; */
  min-height: 20vh;
  margin: auto;
  flex-direction: column;
  font-size: calc(2.5em + 2vmin);
  color: #05386b;
  border-radius: 100px;
}


@media only screen and (max-width: 550px) {
  .App-header b{
    font-size: 1.6em;
  }
}


.App-header {
    /* background-image: linear-gradient(to top right, #5cdb95,#379683); */
  background-color:#5cdb95;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  font-size: calc(2.0em + 2vmin);
  color: #05386b;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.TranslateContainer {
  background: #5cdb95;
  text-align: center;
  max-width: 50%;
  min-width: 375;
  margin: auto;
  padding-bottom: 2%;
  /* border-radius: 120px; */
  border-radius: 20px;
  color: #05386b

}

.TranslateBox{
  padding-left: 30%;
  padding-right: 30%;
  align-items: center;
  /* border-style: dashed; */
  /* border-color: blue; */
}

.PhraseContainer{
  background-color: #379683;
  text-align: center;
  align-items: center;
  margin: auto;
  width: 75%;
  min-width: 250px;
  color:#edf5e1;
  border-radius: 15px;
  margin-bottom: 15px;
}
.PhraseContainer h2{
  font-size: 2.3em;
  color:#edf5e1;
}


.phraseCard{
  background: #8ee4af;
  border: 1px solid #999;
  width: 70%;
  margin: auto;
  margin-bottom: 2%;
  color: #05386b;
  height: auto;
  border-radius: 4px;
}

@media only screen and (max-width: 550px) {
  .flipcardholder{
    min-width: 20vw;
    min-height:  15vh;
    margin: auto;
    padding-right: 40%;
    /* padding-left: 8%; */
  }
}
.flipcardholder{
  min-width: 25vw;
  min-height:  15vh;
  margin: auto;
  padding-right: 30%;
  /* padding-left: 8%; */
  margin-bottom: 2%;
}

.messageFlip{
    background: #edf5e1;
    border: 1px solid #999;
    min-width: 180px;
    width: 100%;
    color: #05386b;
    height: auto;
    max-height: 130px;
  max-height: 100%;
}






.deletePhrase{
  float: right;
  padding-right: 4px;
  padding-top: 4px;
  border-radius: 14px;

}

.item {
  justify-content: space-evenly;
  display: flex;
  flex-grow: 2; /* default 0 */
}


.loginHolder{
  max-width: 30%;
  margin: auto;
  color: #05386b;
}
.loginHolder input{
   /* box-shadow: 4px 4px 10px black; */
   border-style:  2px red;
}


.textAreaBoxes{
  padding: 4px;
  padding-top: 4px;
}

.OrgColumn{
  /* margin: auto; */
  /* padding-left: 2px */
}
.LangColumn{
  /* padding-left: 2px */
}



.testFormBox{
  margin: auto;
width: 50%;
}

.appLogoHeader{
  object-fit: cover;
  object-position: -20% 0;
transform: rotate(40deg);
  width: 30px;
  height: 40px;
  overflow: hidden;
}

.filterDropdown{
  width: 25%;
  margin: auto;
}
