.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 6s linear;
  height: 15vmin;
}

.App-header {
  background-color: #292b74;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.TranslateContainer {
  text-align: center;
  outline-style: dotted;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
}
