.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 16s linear;
  height: 15vmin;
}


.App-header {
  background-color:#98CA32;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: #340913;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.TranslateContainer {
  border-style: dashed;
  border-color: red;
  text-align: center;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  padding-bottom: 2%;
}

.TranslateBox{
  padding-left: 30%;
  padding-right: 30%;
  align-items: center;
  border-style: dashed;
  border-color: blue;
}

.PhraseContainer{
  background-color: #d0ff69;
  border: 1px dashed;
  text-align: center;
  align-items: center;
  margin: auto;
  width: 60%;
  min-width: 250px;
  color:#D61A46;
}

.phraseCard{
  background: #ffebba;
  border: 1px solid #999;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-bottom: 2%;
  color: #B8143A;
}
