.tech-slideshow {
  height: 1100px;
  max-width: 800px;
  transform: rotate(90deg);

  margin:  auto;
  position: fixed;
  /* overflow: hidden; */
  transform: translate3d(0, 0, 0);
}

.tech-slideshow > div {
  height: 120px;
  width: 2526px;
  background: url(http://www.pngmart.com/files/7/Ladder-PNG-Photos.png);
  position: fixed;
  top: 0;
  left: 0;
  height: 225%;
  transform: rotate(90deg);

}
.tech-slideshow .mover-1 {
  animation: moveSlideshow 12s linear infinite;
}
.tech-slideshow:hover .mover-2 {
  opacity: 1;
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-66.6666%);
  }
}
