.topnav {
  position: relative;
  /* background-color: #155648; */
  background-color: #379683;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #edf5e1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #edf5e1;
  color: #05386b;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #05386b;
  color: white;
  border-radius: 10px;

}

/* Centered section inside the top navigation */
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

.ladderSpin{
  float: left;
  padding-left: 4px;
  padding-top: 4px;
    background-color: #edf5e1;
    color: #05386b;
    border: 2px  
}
